<p>Game 1: <a asp-controller="Games" asp-action="Minesweeper">Minesweeper</a></p>
<p>Game 2: <a asp-controller="Games" asp-action="Sudoku">Sudoku</a></p>
<p>Game 3: <a asp-controller="Games" asp-action="Tetris">Tetris</a></p>