<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
        <footer>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
